html,
body {
  --bs-light-rgb: 1, 80, 49;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-card {
  color: white;
  background-color: rgb(3, 139, 85);
}
